table {
    width: 80%;
}

.allstudents-container {
    padding: 20px;
}

.add-button{
    margin-left: 50%;
    margin-top: 20px;
}

.pdf-button{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}
.excel-button{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}